/* CLASSES */
/* .green{
  background-color: green;
  height: 30px;
} */

.transparent{
  height: 30px;
}

.transparent2{
}

.background{
  background-image: url("../img/background3.png");
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.social{
  margin-top: 5%;
}

.fundo{
  background-color: #ededed;
}

.linguagem{
  background-color: #ededed;
}

/* IDS */
#menu{
  height: 10vh;
  background-color:#f8f9fa;
}

#top{
  height: 60vh;
}

#formacao{
  margin-top: 3%;
}

#linguagens{
  margin-top: 3%;
}

#ferramentas{
  margin-top: 3%;
}

#habilidades{
  margin-top: 3%;
}

#contato{
  margin-top: 3%;
}


#teste{
  background-image: url("../img/icon_github.png");
  height: 325%;
}
