/* CLASSES */

.transparent{
  height: 30px;
}

.background{
  background-image: url("../img/background3.png");
  background-color: #00a0e3;
  background-size: 100%;
  background-repeat: no-repeat;
}

.social_icon{
  height:50px;
  margin-top: 5%;
}

.section{
  background-color: #ededed;
  margin-top: 3%;
}


/* IDS */
#menu{
  height: 10vh;
  background-color:#f8f9fa;
}

#top{
  height: 65vh;
}

#habilidades{
  margin-top: 3%;
}

#contato{
  margin-top: 3%;
}

#teste{
  background-image: url("../img/icon_github.png");
  height: 325%;
}

/*  SUPER SMALL*/
@media (max-width: 480px) {
  #foto{
    height: 10vh;
  }
}

/* EXTRA SMALL */
@media (max-width: 576px) {
  .background{
    background-image: url("../img/background3.png");
    background-color: #00a0e3;
    background-size: 100% 300%;
    background-repeat: no-repeat;
  }

  #foto{
    height: 40vh;
  }
  #apresentacao{
    margin-top: 35%;
  }
  #biografia{
  }
  #top{
    height: 130vh;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .background{
    background-image: url("../img/background3.png");
    background-color: #00a0e3;
    background-size: 400% 100%;
    background-repeat: no-repeat;
  }
  .social_icon{
    height:50px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #foto{
    height: 30vh;
  }

}




/* SMALL */
/* @media (max-width: 768px) {
  #foto{
    height: 40vh;
  }

} */
/* MEDIUM */
/* @media (max-width: 992px) {
  #foto{
    height: 40vh;
  }
} */
/* LARGE */
/* @media (max-width: 1800px) {
  #foto{
    height: 10vh;
  }
  #apresentacao{
    font-size: 100%;
  }
  #biografia{
    font-size: 100%;
  }
} */
/* EXTRA LARGE */
/* @media (max-width: 2000px) {
  #foto{
    height: 25vh;
  }
  #apresentacao{
    font-size: 230%;
  }
  #biografia{
    font-size: 300%;
  }
} */
