/* CLASSES */

.transparent{
  height: 30px;
}

.background{
  background-image: url("../img/background3.png");
  background-color: #00a0e3;
  background-size: 100%;
  background-repeat: no-repeat;
}

.social_icon{
  margin-top: 5%;
}

.section{
  background-color: #ededed;
  margin-top: 3%;
}


/* IDS */
#menu{
  height: 10vh;
  background-color:#f8f9fa;
}

#top{
  height: 65vh;
}


#habilidades{
  margin-top: 3%;
}

#contato{
  margin-top: 3%;
}


#teste{
  background-image: url("../img/icon_github.png");
  height: 325%;
}

/* EXTRA SMALL */
@media (max-width: 576px) {
  #foto{
    height: 40vh;
  }
}
/* SMALL */
@media (max-width: 768px) {
  #foto{
    height: 40vh;
  }
}
/* MEDIUM */
@media (max-width: 992px) {
  #foto{
    height: 40vh;
  }
}
/* LARGE */
@media (max-width: 1200px) {
  #foto{
    height: 40vh;
  }
}
/* EXTRA LARGE */
@media (max-width: 2000px) {
  #foto{
    height: 40vh;
  }
}
