ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

/*
ID
*/
#menu{
  background-color: black;
  /* height: 110%; */
  width:100%;
  text-align: right;
}


#header{
  background-color: yellow;
  /* height: 3000%; */
  width:100%;
}


#yellow{
  background-color: yellow;
  /* height: 3000%; */
  width:100%;
}


#green{
  background-color: green;
  /* height: 3000%; */
  width: auto;
}


#github{
  background-image: url("../img/icon_github.png");
	background-repeat: no-repeat;
	height: 100px;
}

.rede{
  margin-right: 10%;
}

.formacao{
  margin-top: 4%;
  margin-right: 8%;
}

.contato{
  margin-top: 4%;
  margin-right: 8%;
}



.justr{
  background-color: red;
}

.justb{
  background-color: yellow;
}

.justg{
  background-color: green;
}
